{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto pb-10">

        <div class="-mx-12 bg-cover bg-center rounded-xl bg-gray-800 h-50vh mt-32 mb-24" style="background-image: url(https://images.unsplash.com/photo-1640622658799-54e6039d189b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60);"></div>
        
        <div class="-mx-12 flex flex-wrap mb-10">
        {% for room in rooms %}
            {% include 'mixins/room_card.html' with room=room %}
        {% endfor %}
        </div>

        <div class="flex item-center mx-auto container justify-center">
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500"><i class="fas fa-arrow-left fa-lg"></i></a>
        {% endif %}
        <span class="mx-3 font-medium">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="text-teal-500"><i class="fas fa-arrow-right fa-lg"></i></a>
        {% endif %}

        {% for page in page.paginator.page_range %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}
        </div>
    </div>

{% endblock content %}